<h4 class="ui center aligned medium icon header">
  <i class="circular orange  users icon"></i>
  Let's Chat
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%=  render @messages %>
        </div>
      </div>
      <div class="extra content content-height">
        <%= form_for(@message, html: {class: 'ui reply form'}, url: specific_message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui  fluid icon input">
              <%= f.text_area :body, placeholder: "Enter a message...", required: :true, class: 'message_body', cols: 2, rows: 1 %>
              <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
              <%= f.hidden_field :friend_message_id, :value => params[:friend_message_id] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
       <h4>Users</h4>
        <div class="ui inverted vertical menu username-field">
         <% @users.map do |user| %>
          <a class="active item user-name" href="/user/<%= user.id %>" >
           <%= user.username %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
